# ~/.config/systemd/user/openframe-stop.timer
[Unit]
Description=Every day at 20:00, stop OpenFrame

[Timer]
OnCalendar=*-*-* 20:00:00
Persistent=true
Unit=openframe-sync.service

[Install]
WantedBy=timers.target
